:root {
    box-sizing: border-box;
    --head-foot-height:10%;
    --main-height: 80%;
    --main-width: 100%;
}

body {
    margin: 0;
    height: 100vh; 
    display: flex;
    flex-direction: column;
}
 
main {
    height: 80vh;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 1rem;
    gap: 1rem;
}

header,
footer {
    height: 10vh;
}

header,
footer,
.breakfast,
.lunch,
.dinner,
.desert,
.smoothies,
.snacks {
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}
